/* .weather{
    width: ;
    min-width: 28rem;
    height: 45%;
    background-color: #111214;
    border-radius:1rem;
} */

/* .weather{
    width: 100%;
    background-color: aqua;
    height: 45%;
    min-width: 20rem;
} */
